{{define "delete_2"}}
{{template "_Head"}}
<nav class="navbar navbar-light bg-light mb-4">
    <a class="navbar-brand" href="/">Alura Loja</a>
</nav>
<div class="container">

    <body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5">Deletar Produto</h1>
            <p class="lead">Insira o nome do produto a ser deletado</p>
        </div>
    </div>
    <form method="POST" action="Delete_">
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" name="nome" class="form-control">
                </div>
            </div>
        </div>
        <button type="submit" value="Deletar" class="btn btn-success">Deletar</button>
        <a class="btn btn-info" href="/">Voltar</a>
    </form>
    </body>

</html>
</div>
</body>

</html>
{{end}}